a:hover {
  text-decoration: underline;
}

input:hover {
  /* outline: 5px solid #bfdeff;
  border-radius: 7px; */
  outline: none;
  /* border: none; */
}

input:focus {
  /* border: none !important; */
  outline: 4px solid #bfdeff;
  transition: outline 0.1s ease;
  will-change: all;
}

input::placeholder {
  color: #d1d5db;
}

.submit-btn:hover {
  background-color: #0062cc !important;
}

.divider {
  width: 100%;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 1rem;
  flex-direction: column;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  /* margin: 0 10px; */
  padding: 0.5rem 2.3rem;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.icon img {
  width: 25px;
  height: 25px;
  margin-top: 8px;
}
