.menuList {
  font-size: 0.75rem;
  padding: 0.7rem 0 !important;
  margin: 0.7rem 0;
  padding-left: 1.5rem !important;
  cursor: pointer;
  opacity: 0.69;
}
.menuList img {
  margin-right: 1rem;
}

.menuList:hover {
  opacity: 1;
  font-weight: 600;
  color: #535e6d !important;
 
}
.active-list .menuList {
  opacity: 1 ;
  font-weight: 600 ;
  color: rgb(14, 77, 178) ;
  background-color: rgba(59,130,246,0.15) !important;
}
