.transparent-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.transparent-footer a, span {
  text-decoration: none;
  color: #7f8fa4;
  font-size: 8.9px;
}

.transparent-footer a:hover {
  text-decoration: underline;
}

.transparent-footer a:hover {
  color: #007bff !important;
}
