a:hover {
  text-decoration: underline;
}

input:hover {
  /* outline: 5px solid #bfdeff;
  border-radius: 7px; */
  outline: none;
  /* border: none; */
}

input:focus {
  /* border: none !important; */
  outline: 3px solid #bfdeff;
  transition: outline 0.1s ease;
  will-change: all;
}

input::placeholder {
  color: #d1d5db;
}

.submit-btn:hover {
  background-color: #0062cc !important;
}

.divider {
  width: 100%;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 1rem;
  flex-direction: column;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;

  /* align-items: center; */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dcdfe3;
  border-radius: 10px;
  cursor: pointer;
  width: 29.5%;
  padding: 0.95rem 0;
}

.icon img {
  width: 22px;
  height: 22px;
  /* margin-top: 8px; */
}

#forgotPassword:hover {
  color: #3862ba !important;
  text-decoration: underline;
  cursor: pointer;
}
