/* CSS Reset */

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
}

/* Remove list styles (bullets, numbers) */
ul,
ol {
  list-style: none;
}

/* Remove abbr styles  */
abbr{
  text-decoration: none;
}

/* Set the base font size and line height */
body {
  font-size: 16px;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 0px !important;
}
/* Remove underline from links */
a {
  text-decoration: none !important;
  color: inherit;
}

.pl-1 {
  padding-left: 1.05rem !important;
}

.pl-2 {
  padding-left: 1.3rem !important;
}

.mt-1{
  margin-top: 1rem !important;
}
.mt-2{
  margin-top: 2rem !important;
}

.d-flex{
  display: flex !important;
}
.align-item-center{
  align-items: center !important;
}
.ml-2{
  margin-top: 2rem !important;
}

.mx-1{
  margin: 0 1rem;
}
.my-1{
  margin: 1rem 0;
}

/* Remove the blue outline on focused elements (for accessibility) */
:focus {
  outline: none;
}

/* Optionally, set a global box-sizing value */
* {
  box-sizing: border-box;
}
